div{
  text-align: center;
  background-color: beige;
}

a{
  font-size: larger;
  display: block;
}

a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background: #f44336;
  width: 100px;
  height: 50px;
  position: static;
  border: 2px solid #000000;
}

a:hover {
  background-color: #ff5b4f;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.scan{
  border-radius: 15px 15px 0px 0px;
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
}
a.scores{
color: #000000;
}
a.create{
border-radius: 0px 0px 15px 15px
border-bottom: 2px solid #000000;
border-left: 2px solid #000000;
border-right: 2px solid #000000;
}
button{
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 50px;
  width:100px;
  background-color: #f44336;
  border-radius: 25px;
  color: white;
}

button:hover{
  background-color: #ff5b4f;
} 
